html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    background-color: #e5e5e5;
}

main{
    margin: 0 auto;
    width: 400px;
    padding: 25px;
}
/*TODO: Make this button my own code and not Google's LOL*/
.card{
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border-bottom-width: 2px;
    margin: 10px 0 20px 0;
    padding: 20px 20px;
    position: relative;
    opacity: 1;
}

.card figure{
    margin: 0 -14px;
}

.card img{
    width: 100%;
}

.card figure figcaption{
    margin: 14px;
}

/*TODO: Make this button my own code and not Google's LOL*/
.btn{
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    margin-top: 8px;
    padding: 0 10px 0 10px;
    outline: none;
    width: auto;
    background-image: none;
    -webkit-appearance: none;
}

.btn:hover{
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    border-color: #bfbfbf;
}

.btn:active{
    -webkit-box-shadow: inset 0 1px 0 #ddd;
    box-shadow: inset 0 1px 0 #ddd;
    background-color: #e5e5e5;
    border-color: #bfbfbf;
}